{% extends 'product/base.html' %}

{% block content %}

<br><br>
<h1>About Us</h1>
<p>The founder of TheraSELL is an Occupational Therapist who has been working with special needs children for over a decade.  She is currently an OT at The Yaldeinu School in Brooklyn, NY.
           One weekend a client of hers was trying to "get rid" of a $175 dollar Astronaut spinning board and a relative with a special needs son casually said she threw out a few hundred dollars of therapeutic listening equipment!
           She personally know parents who opted out of these programs secondary to the expense! It was an AHHA moment and TheraSELL Was born.</p>
<p>Therapeutic equipment is exorbitantly expensive and has an extremely high resale value. Therapists, people with disabilities and parents of children with disabilities have all purchased extremely pricey therapeutic tools to help.
           Once done with them they can’t throw them out… they were just too expensive. Other people just don't buy needed equipment secondary to the expense.</p>
 <p> TheraSELL is the leading therapy destination where people come together to buy and sell used therapeutic and medical tools from each other.</p>

        <p>We are a  COMMUNITY where our members can buy and sell with confidence and ease.
           Buyers and Sellers can talk to each other via a chat option on the product page and give each other advice and support. </p>

        <p>You can buy and sell all kinds of great quality, gently used therapy equipment like used wheelchairs, integrated listening systems (ILS), therapeutic swings and more, at amazing prices, with pick up options in your neighborhood or have it shipped with the Ship it option!
           Save money with steep discounts!</p>

        <p>Therapists, caretakers, caregivers  and consumers sell your gently used therapy and medical equipment to buyers in your neighborhood or ship it to areas further! Free up your space and turn your assets back into cash!</p>
<br><br>
{% endblock %}