{% extends 'product/base.html' %}
{% block content %}

<br><br>
<h1>How It Works</h1>
<h2>For Buyers : </h2>
<p> 1. If you see something you like, contact the seller in the listing with any questions before you buy.</p>
<p> 2. Pay for your item securely through Paypal and select shipping and the seller will ship the item to you. Your funds will only be released once you receive your item. </p>
Or
<p> 3. Pay for your item securely through Paypal and select the Pick Up/Delivery option. </p>
<p> The Address of the seller will be released with payment. </p>
<p> Message the seller for pick up options.</p>
<p> Always meet at a safe space if picking up!</p>
<p> Accept your item at delivery or pick up. Your funds will only then be released.</p>
<p> 4. If there is an issue with your purchase, you can file a dispute by emailing us at therasell100@gmail.com, within 3 days of receiving the item
</p>
<br>
        <h2>For Sellers:</h2>
 <p> 1. Create a free account and set up free listings for your items. It's easy and fast!</p>
 <p>2. Sell to other businesses or consumers looking for therapeutic and medical equipment equipment.</p>
 <p>3. Ship your item or meet at a safe spot for delivery or pick up.</p>
 <p>4. Get paid!</p>

<p>Our fees are very simple and straightforward. For all sales under $15, TheraSELL  takes a flat commission of $2.95. You keep the rest.
For sales of $15 or more, you keep 90% of your sale and TheraSELL commission is 10%. Once your sale has been delivered and received by your buyer,
the earnings from your sale are yours. </p>

<p>If you would like to donate your item we take NO COMMISSION! Shipping costs will be passed to the buyer! </p>

<p> You are protected every time you place an order on TheraSELL. When you purchase an item on TheraSELL, we keep your payment safe until you tell
    us you've received your order. If your item does not match the description, please open a case within 3 days of delivery, before the order is marked as received.</p>
<br>
<h2 id = "tuse">TheraSELL terms of use</h2>
<p>TheraSELL  provides a platform to connect people who want to sell their gently used therapy and medical  equipment to buyers. TheraSELL
    makes no warranties or guarantees as to the quality of the products, the sellers or the accuracy of the listings on this platform.
    Buyers and sellers on this platform agree to use their own best judgement when completing a transaction on TheraSELL, and release TheraSELL
    of all liability for the sellers, products and transactions on this platform. </p>
<p>TheraSELL makes every attempt to resolve all disputes amicably between buyers and sellers.</p>
<p>As a user of this platform, you agree not to spam sellers on this portal, or use the seller's information for commercial use.
Users who do this will be banned from the TheraSELL.</p>
<p>Users who share personal information (email, address, phone numbers,,,) on our chat boxes will be banned from buying and selling on TheraSELL</p>
<p>TheraSELL  is a social media service that allows its users to change favors and items and communicate with each other. The TheraSELL -service may only be used
    in accordance with these terms of use. TheraSELL reserves the right to change these terms of use if required. </p>
<b>Sales Taxes</b>
<p>Sellers agree to collect sales taxes in accordance with the laws in their jurisdictions, and to remit those taxes to the appropriate authority.
TheraSELL does not collect sales taxes on sellers' behalf. </p>
<b>Rights of Content</b>
<p>The users themselves retain the right to all text, pictures and other content that they create in the service.
    The users allow others to utilize the content in accordance with the nature of TheraSell’'s service and furthermore allow TheraSELL
    to file information and data and make changes that are necessary, however other rights are not transferred from the users, unless specifically otherwise agreed.
    The responsibility of the content lies with the user, who has provided it to TheraSELL. TheraSELL  has the right to remove any material when it deems it necessary.</p>
<b>Disclaimer</b>
<p>No guarantees of the functioning of the TheraSELL service are given. The users are themselves responsible for their actions in the service and they
    should estimate the reliability of other users before dealing with them. The service provider can under no circumstances be liable for damage that is caused to the user.
    The user may not store any information or data in the service, and expect it to remain there.</p>
<b>The Removal of a User</b>
<p>The service provider has the right to remove any users from TheraSELL and terminate their right of use of the service without any specific
reason and without being liable for compensation.</p>
<b>Applicable Jurisdiction</b>
<p>The jurisdiction that is applicable in this service and these terms of use is that of the United States, unless something else is required by binding law.</p>
<b>Use of personal details (purpose of register)</b>
<p>Personal details are collected to make communication and use of service possible. Details can be used for communication between buyer and sellers and also
for direct communication between users. Some personal details are visible on the profile page of the user, but those details are voluntary (except name).</p>
<p>The handling of personal details is not outsourced, but the register data is stored on a server that is rented from a third party company.</p>
<p>TheraSELL does not sell personal details of its users to third parties.</p>
<b>Information content of the register</b>
<p>The following information may be stored in the register:</p>
<ul>
<li>Personal details: Name, email address, phone number, street address</li>
<li>Account details: username, password (stored in encrypted format)</li>
<li>The description text that the user may write about him/herself</li>
<li>The offers and requests the user has posted to the service</li>
<li>The given and received feedback and badges</li>
<li>Statistical data about service usage, e.g. number times the user has logged in</li>
</ul>
<b>Regular sources of information</b>
<p>Personal details are given by the user on registration to the service or when using it later.</p>
<b>Regular handovers of the information</b>
<p>The information may be handed over for research purposes as described in the <a href = "#tuse">Terms of use</a> that the user accepts before starting to use the service.
The researchers may not publish any research results so that identifying information would be revealed or that any specific user could be detected.</p>
<p>Information considering users of a single TheraSELL community may be handed over to the client who has founded that community or to the community
administrators appointed by that client.</p>
<b>Transfers of the information outside the EU and the European Economic Area</b>
<p>Information may be stored to a server that may be located inside or outside of the EU and the European Economic Area.</p>
<b>Register protection principles</b>
<p>The information is stored on computers. The access to the information is restricted with passwords and physical access to the computers is restricted
by the server hosting company.</p>
<br><br>
{% endblock %}