<!DOCTYPE html>
<html lang="en">
<head>
  <title>TheraSELL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      /*margin-bottom: 50px;*/
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    #footersubscribe {
      display: block;
    }

    .carousel-inner > .carousel-item > img {
    margin: 0 auto;
    width:50%;
    max-height: 500px !important;
}

/* Carousel css start */
.carousel-item {
  text-align: center;
  background-color: #f2f2f2;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
/* Carousel css end */

#footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


  </style>
</head>
<body>

  <!-- Carousel Start-->
{% load staticfiles %}
<div id="demo" class="carousel slide" data-ride="carousel" data-interval="10000">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
         <img src="{% static 'images/image1.jpg' %}" alt="Image1"></img>
         <div class="carousel-caption">
            <h3>The place to buy and sell used therapeutic equipment</h3>
          </div>
      </div>
      <div class="carousel-item">
          <img src="{% static 'images/image2.jpg' %}" alt="Image2"></img>
          <div class="carousel-caption">
              <h3>Helping each other sale by sale</h3>
            </div>
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
<!-- Carousel End-->

<!-- Navbar start-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/About_Us">About Us <span class="sr-only">(current)</span></a>
        </li>
      <li class="nav-item active">
        <a class="nav-link" href="/how_it_works">How it works <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'list_new' %}">List a product</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" type="search">Pediatric</a>
          <a class="dropdown-item" href="#">Geriatric</a>
          <a class="dropdown-item" href="#">Sports injury</a>
          <a class="dropdown-item" href="#">Sensory</a>
          <a class="dropdown-item" href="#">Gross Motor</a>
          <a class="dropdown-item" href="#">Fine motor</a>
          <a class="dropdown-item" href="#">Wheel chairs</a>
          <a class="dropdown-item" href="#">Mobility (walkers, Canes, crawlers, ramps)</a>
          <a class="dropdown-item" href="#">Walkers and Fall Safety</a>
          <a class="dropdown-item" href="#">Splints and braces</a>
          <a class="dropdown-item" href="#">Activities of daily living</a>
          <a class="dropdown-item" href="#">Durable medical equipment</a>
          <a class="dropdown-item" href="#">Rehabilitation and Physical Therapy</a>
          <a class="dropdown-item" href="#">Visual Motor/Visual Perceptual</a>
          <a class="dropdown-item" href="#">Assessments</a>
         <!--  <div class="dropdown-divider"></div>
         <a class="dropdown-item" href="#">Settings</a> -->
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">My Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Sign In</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!-- Navbar end-->
<div class = "container-fluid">
<div class="row">
	<aside class="col-sm-2">





	</aside> <!-- col.// -->
	<aside class="col-sm-4">



<div class="card" style = "width: 98rem;">

 
	<article class="card-group-item">
	 
              <div class="row justify-content-center">
                  {% for product in products %}
                  <div class="col-sm-3">
                  <div class="col-auto mb-2">
                      <div class="card" style="width: 15rem;">
                           <img class="card-img-top" src="data:image/jpeg;base64,{{ product.Image }}" alt="Card image" style="width:100%">
                          <div class="card-body">
                              <h5 class="card-title"><a href="{% url 'product_detail' pk=product.product_id %}">{{ product.title }}</a></h5>
                              <!-- h6 class="card-subtitle mb-2 text-muted">Price : ${{ product.Price }}</h6-->
                              <h6 class="card-subtitle mb-2 text-muted">{{product.price}}</h6>
                              <p class="card-text"> {{product.product_description}}</p>
                             
                          </div>
                      </div>
                  </div>
                  </div>
                {% endfor %}
              </div>

          
      </div><br><br>
  </article> <!-- card-group-item.// -->
  
	<article class="card-group-item">
		<ul class="pagination">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
    </ul>
	</article> <!-- card-group-item.// -->
</div> <!-- card.// -->

</div>

	</aside> <!-- col.// -->
</div>
</div>


<footer class="container-fluid text-center">
    <small>&copy; Copyright 2019, ThreaSELL</small>
  <form class="form-inline" id="footersubscribe">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer>

</body>
</html>
