{% extends 'product/base.html' %}

{% block content %}

</div>

<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-sm-4 py-2">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <img class="card-img-top" src="/media/{{product.Image}}" alt="Card image" style="width:100%" href="{% url 'product_detail' pk=product.ID %}">
                    <h3 class="card-title"><a href="{% url 'product_detail' pk=product.ID %}">{{ product.Title }}</a></h3>
                    <p class="card-text">{{product.Description}}</p>
                    <a href="{% url 'product_detail' pk=product.ID %}" class="btn btn-outline-secondary">Details</a>
                </div>
            </div>
        </div>
         {% endfor %}

    </div>
</div>
{% endblock %}