{% extends 'product/base.html' %}

{% block content %}


</div><br><br>


<div class="container">
    <div class="card flex-row flex-wrap">
        <div class="card-header border-0">
            <img src="/media/{{product.Image}}" alt="" style="max-width: 45vw;height: auto;">
        </div>
        <div class="card-block px-2">
            <br>
            <h4 class="card-title">{{ product.Title }}</h4>
            <p class="card-text">Description : {{ product.Description }}</p>
            <p class="card-text">Condition : {{ product.Condition }}</p>
            <p class="card-text">Brand : {{ product.Brand }}</p>
            <p class="card-text">Color : {{ product.Color }}</p>
            <p class="card-text">Seller Information : {{product.Seller}}</p>
            <p class="card-text">Original Price : ${{ product.Original_Price }}</p>
            <p class="card-text">Listed Price : ${{ product.Listing_Price }}</p>
            <!-- <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Quantity
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  {% for val in product.Quantity %}
                  <a class="dropdown-item" href="#">{{ val }}</a>
                  {% endfor %}
                </div>
              </div> -->
            <br>
            <a class="btn btn-outline-success my-2 my-sm-0" type="submit" href = "{% url 'checkout'%}">Buy</a>
        </div>
        <div class="w-100"></div>
    </div>
    <br>
</div>


{% endblock %}